

<div class="container mt-5">
  <table class="table table-dark table-striped table-hover table-bordered text-center">
    <thead class="table-secondary">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Model</th>
        <th>Category</th>
        <th>Price</th>
        <th>Type</th>
        <th>Ratio</th>
        <th>Power</th>
        <th>Material</th>
        <th>Features</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.model }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.type }}</td>
        <td>{{ product.ratio }}</td>
        <td>{{ product.power }}</td>
        <td>{{ product.material }}</td>
        <td>{{ product.features }}</td>
        <td>{{ product.description }}</td>
        <td>
          <button class="btn btn-outline-success btn-sm me-2" (click)="edit(product.id)">Edit</button>
          <button class="btn btn-outline-danger btn-sm" (click)="delete(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end">
    <a routerLink="/admin/createproduct" class="btn btn-outline-dark">Add New Product</a>
  </div>
</div>
